@model IEnumerable<FrontEnd.Models.ShipperViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipperId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.ShipperId)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ShipperId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ShipperId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ShipperId })
                </td>
            </tr>
}
    </tbody>
</table>
